.footer-container{
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 50px 0 50px;
}
.footer-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo-img{
    width: 136.98px;
    height: 28.57px;
}
.footer-logo{
    flex: 25%;
}
.footer-navbar-items{
    flex: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-nav-item{
    list-style: none;
 }
 .footer-item-link{
     font-family: "Poppins", sans-serif;
     text-decoration: none;
     color: var(--white-color);
     padding: 10px;
 
 }
.footer-navbar-right-side{
    display: flex;
    justify-content: end;
    align-items: center;
}
.footer-navbar-right-side span{
    padding: 0 20px ;
}
.footer-line{
    width: 98%;
    height: 1px;
    background-color: var(--white-color);
    margin: 20px auto 30px;
}
.copy-right{
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    line-height: 16.5px;
    text-align: center;
}

@media only screen and (max-width: 1200px) { 
    .footer-box{
     flex-direction: column;
     gap: 50px;
    }
    .footer-navbar-right-side{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) { 
    .footer-container{
        width: 100%;
    }
}