.home-container{
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 68%;
  margin: auto;
  padding: 50px 0 50px;
}
.home-description{
    width: 70%;
}
.home-description p{
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    line-height: 31.5px;
    text-align: center;
}
.home-title h1{
    font-family: "Poppins", sans-serif;
    font-size: 65px;
    line-height: 97.5px;
    text-align: center;
} 
.start-generating{
    background-color: var(--sub-color);
    color: var(--main-color);
    width: 263px;
    height: 40px;
    border-radius: 16px;
    text-align: center;
    text-transform:uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;

}

@media only screen and (max-width: 1200px) {
    .home-description p{
        font-size: 17px;
        line-height: 27.5px;
    }
    .home-title h1{
        font-size: 45px;
        line-height: 62.5px;
        margin-bottom: 20px;
    } 
    .start-generating{
        width: 233px;
        height: 40px;
        border-radius: 14px;
        font-size: 15px;
    
    }

 }

 @media only screen and (max-width: 900px) {
    .home-description p{
        font-size: 15px;
        line-height: 23.5px;
    }
    .home-title h1{
        font-size: 35px;
        line-height: 42.5px;
    } 
    .start-generating{
        width: 233px;
        height: 40px;
        border-radius: 10px;
        font-size: 14px;
    
    }

 }

 @media only screen and (max-width: 700px) {
    .home-description p{
        font-size: 15px;
        line-height: 23.5px;
    }
    .home-title h1{
        font-size: 35px;
        line-height: 42.5px;
    } 
    .start-generating{
        width: 233px;
        height: 40px;
        border-radius: 10px;
        font-size: 14px;
    
    }
    .home-container{
        width: 98%;
        padding: 50px 0 50px;
      }

 }
